{% extends 'authapp/base.html' %}

{% block title %}
Записи на тренировки
{% endblock title %}

{% block head %}
<h2>Записи на тренировки</h2>


{% if request.user.is_staff or request.user.is_superuser %}
    <div class="mb-1 mt-3">
        <a href="{% url 'record_create' %}" class="btn btn-primary">Добавить запись на тренировку</a>
    </div>
{% endif %}
<br>
<table class="table">
    <thead>
        <tr>
            <th>Пользователь</th>
            <th>Дата</th>
            <th>Начало</th>
            <th>Конец</th>
            <th>Направление</th>
            <th>Преподаватель</th>
            <th>Номер зала</th>
            {% if request.user.is_staff or request.user.is_superuser %}
            <th></th>
            <th></th>
            {% endif %}

        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.user.username }}</td>
            <td>{{ record.training.date }}</td>
            <td>{{ record.training.time_start }}</td>
            <td>{{ record.training.time_end }}</td>
            <td>{{ record.training.get_specialization_display }}</td>
            <td>{{ record.training.trainer.fio }}</td>
            <td>{{ record.training.gym_number }}</td>
            {% if request.user.is_staff or request.user.is_superuser %}
            <td>
                <a href="{% url 'record_update' record.id%}" class="btn btn-primary">Изменить</a>
            </td>
            <td>
                <a href="{% url 'record_delete' record.id%}" class="btn btn-primary">Удалить</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
