{% extends 'authapp/base.html' %}

{% block title %}
Удаление тренировки
{% endblock title %}

{% block head %}
<h2>Удаление тренировки</h2>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-3"> </div>

        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Удалить</button>
                </div>
            </form>
        </div>

        <div class="col-md-3"></div>
    </div>
</div>
{% endblock head %}






